table, iframe {
    width: 400px;
    border: 0.1em #eee solid;
    margin: 0.5em;
}

.center {
    width: 400px;
    border: 0.1em #eee solid;
    text-align: center;
}

.graph {
    border: 0.3em #ccc double;
    margin-top: 3em;
}
h2,h3 {
    background: #000;
    color: white;
    padding: 0.5em;
    clear: both;
}
p {
    margin: 0 5em;
    font-size: 1.0em;
}

#config {
    width: auto;
}

#left {
    float: left;
    width: 400px;
}

#right {
    float: left;
    width: auto;
    margin-left: 1em;
}
