# 一時ファイル
*.o
*.swp
*.out
~*.pptx
.DS_Store
*~

# スクリプト
*.pyc
*.plt


core
log
tags

# フォルダ
bin/

# __から始まるファイルを無視
__*

# 例外
!__init__.py
*#
!.gitignore
*.html
.#*

*.tex
*.aux
*.bbl
*.fdb_latexmk
*.log