table {
  font-size: 0.9em;
  font-family: monospace;
}
td {
  width: 15em;
}

fieldset {
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
}

legend {
    font-family: "times new roman";
    font-size: 20px;
}

.config {
    border: 1px solid #ccc;
}